<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,112}}</string>
                <key>sourceSize</key>
                <string>{200,112}</string>
            </dict>
            <key>Cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Clouds@2x.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4afda219bc44600872a0cf038e0fe202:23df1d84b745ae704d5991bfa5443e4d:f3e98faa448ff6736f7d6721985e35f8$</string>
            <key>textureFileName</key>
            <string>Clouds@2x.png</string>
        </dict>
    </dict>
</plist>
