<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_Facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Button_Facebook_Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Button_Leader_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{200,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,114}}</string>
                <key>sourceSize</key>
                <string>{200,114}</string>
            </dict>
            <key>Button_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{200,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,114}}</string>
                <key>sourceSize</key>
                <string>{200,114}</string>
            </dict>
            <key>Button_Rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{139,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,82}}</string>
                <key>sourceSize</key>
                <string>{139,82}</string>
            </dict>
            <key>Button_Tap_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{81,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,36}}</string>
                <key>sourceSize</key>
                <string>{81,36}</string>
            </dict>
            <key>Button_Tap_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{81,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,36}}</string>
                <key>sourceSize</key>
                <string>{81,36}</string>
            </dict>
            <key>Button_Twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Button_Twitter_Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{44,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,97}}</string>
                <key>sourceSize</key>
                <string>{44,97}</string>
            </dict>
            <key>Game_Over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{491,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,53}}</string>
                <key>sourceSize</key>
                <string>{491,53}</string>
            </dict>
            <key>Get_Ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{532,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,53}}</string>
                <key>sourceSize</key>
                <string>{532,53}</string>
            </dict>
            <key>LuckyBird_2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,173},{267,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,14}}</string>
                <key>sourceSize</key>
                <string>{267,14}</string>
            </dict>
            <key>Score_Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{350,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,191}}</string>
                <key>sourceSize</key>
                <string>{350,191}</string>
            </dict>
            <key>Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,228},{491,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,53}}</string>
                <key>sourceSize</key>
                <string>{491,53}</string>
            </dict>
            <key>Up_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,228},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HUD@2x.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45b953ca2b331c49795920cf16683285:eebd859c1a43f3c90f18cbb9d982c453:222dffc7200ef8c17495695a87596627$</string>
            <key>textureFileName</key>
            <string>HUD@2x.png</string>
        </dict>
    </dict>
</plist>
