<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pigeon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>Pigeon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>Pigeon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>Pigeon_Dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,60},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>Toucan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{117,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,72}}</string>
                <key>sourceSize</key>
                <string>{117,72}</string>
            </dict>
            <key>Toucan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,118},{117,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,72}}</string>
                <key>sourceSize</key>
                <string>{117,72}</string>
            </dict>
            <key>Toucan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{113,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,72}}</string>
                <key>sourceSize</key>
                <string>{113,72}</string>
            </dict>
            <key>Toucan_Dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,192},{114,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,77}}</string>
                <key>sourceSize</key>
                <string>{114,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Textures@2x.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0c735990453612f63a22a67d9bd622e:2a80b2e86201222f3eb92a06ef8677b9:432b15258729bca49c4cf5458d86f740$</string>
            <key>textureFileName</key>
            <string>Textures@2x.png</string>
        </dict>
    </dict>
</plist>
